{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<div class="row" data-id="{{ venue.id }}">
			<li data-id="{{ venue.id }}">
				<div class="col-sm-9">
					<a href="/venues/{{ venue.id }}">
					<i class="fas fa-music"></i>{{ venue.name }}
					</a>
				</div>
				<div class="col-sm-3">
					<button onclick="" class="delete-button" data-id="{{ venue.id }}">&cross;</button>
				</div>
			</li>
		</div>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}